#contenedor {
    border: solid 2px black;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
}

#rojo {
    background-color: red;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    position: relative;
    top: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#verde{
    background-color: green;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    position: relative;
    top: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#azul {
    background-color: blue;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    position: relative;
    top: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}