<div class="admin-cont" style="padding-top: 120px;">
    <div>
        <h2>Hola {{persona}}!</h2>
    </div>
    <div>
    <a href="/admin/login/logout" type="button" class="btn btn-danger">Cerrar sesión<i class="fa-solid fa-arrow-right-from-bracket" style="padding-left: 8px;"></i></a href="/admin/login/logout">
    </div>
</div>